<div class="row">
    <div class="col-md-12">
        <div google-chart chart="ctrl.myChartObject" style="height:400px; width:100%;"></div>
    </div>

</div>
<div class="row">
    <div class="col-md-12">
        <button type="button" class="btn btn-default btn-lg center-block" ng-click="ctrl.employmentStats()">View
            Statistics
        </button>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <div google-chart chart="ctrl.employmentChartObject" style="height:400px; width:100%;"></div>
    </div>

    <div class="col-md-6">
        <p> Hello, World!</p>
    </div>
</div>