<timer countdown="120" interval="1000" ng-show="ctrl.showProgress">
    <p> Remaining time :
        {{minutes}} minute{{minutesS}} ({{progressBar}}%)</p>
    <div class="progress progress-striped" style="height: 30px;">
        <div class="progress-bar" style="min-width: 2em;width: {{progressBar}}%;"></div>
    </div>
</timer>

<form class="form-horizontal">
    <div class="form-group">
        <label for="sectors" class="col-md-2 lead">Search Sectors:</label>
        <div class="col-md-10">
            <input name="sectors" id="sectors" type="text" placeholder="Enter a Sector" ng-model="ctrl.selected"
                   uib-typeahead="sector.name for sector in ctrl.sectorList| filter:$viewValue | limitTo:8"
                   class="form-control" autocomplete="off">
        </div>
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-lg center-block" ng-click="ctrl.getIndustryList(ctrl.selected)">Search
            Sector
        </button>

    </div>
</form>

<p> {{ctrl.errorMsg}}</p>

<div class="row">
    <div class="col-md-6">
        <div class="panel panel-info" ng-show="ctrl.showIndustryArea">
            <div class="panel-heading"> Industries in the {{ctrl.sectorName}} Sector</div>
            <div class="panel-body">

            <span ng-repeat="industry in ctrl.industryList">
          <label>
            <input type="checkbox"
                   name="selectedIndustries[]"
                   value="{{industry.name}}"
                   ng-checked="ctrl.industries.indexOf(industry.name) > -1"
                   ng-click="ctrl.toggleSelection(industry)">
            {{industry.name}}
          </label><br/>
        </span>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="panel panel-success" ng-show="ctrl.showIndustryArea">
            <div class="panel-heading"> Selected Industries</div>
            <div class="panel-body">
                <p ng-repeat="eachIndustry in ctrl.industries"> {{eachIndustry}}</p>

            </div>
        </div>
    </div>
</div>


<button type="button" class="btn btn-lg center-block" ng-show="ctrl.count > 0" ng-click="ctrl.getTwitterData()">Get
    Twitter Data
</button>


