<div class="row">
    <div class="col-md-6">

        <div class="panel panel-default">
            <!-- Default panel contents -->
            <div class="panel-heading">Current Sectors</div>
            <div class="panel-body">

                <ul ng-repeat="sector in ctrl.sectorList.listOfSectors">
                    <li> {{sector}}</li>
                </ul>

            </div>
        </div>

    </div>
    <div class="col-md-6">

        <div class="panel panel-default">
            <!-- Default panel contents -->
            <div class="panel-heading">Insert Sector</div>
            <div class="panel-body">
                <form>
                    <div class="form-group">
                        <label for="insertSector">Sector</label>
                        <input type="text" class="form-control" id="insertSector" placeholder="Insert Sector">
                    </div>

                    <button type="submit" class="btn btn-default center-block">Save Sector</button>
                </form>
            </div>
        </div>

    </div>


</div>

</div>

