<form class="form-horizontal">
    <div class="form-group">
        <label for="sectors" class="col-md-2 lead">Search Sectors:</label>
        <div class="col-md-10">
            <input name="sectors" id="sectors" type="text" placeholder="Enter a Sector" ng-model="ctrl.selected"
                   uib-typeahead="sector.name for sector in ctrl.sectorList | filter:$viewValue | limitTo:8"
                   class="form-control">
        </div>
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-lg center-block" ng-click="ctrl.getIndustryList(ctrl.selected)">Search
            Industries
        </button>

    </div>
</form>

<div class="row" ng-show="ctrl.showIndustryArea">
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading"> Industries in the {{ctrl.sectorName}} Sector</div>
            <div class="panel-body">

                <ul ng-repeat="industry in ctrl.industryList">


                    <li>{{industry.name}}</li>


                </ul>
            </div>
        </div>
    </div>

    <div class="col-md-6">

        <div class="panel panel-default">
            <!-- Default panel contents -->
            <div class="panel-heading">Insert Industry</div>
            <div class="panel-body">
                <form>
                    <div class="form-group">
                        <label for="insertIndustry">Industry</label>
                        <input type="text" class="form-control" id="insertIndustry" ng-model="ctrl.industry.name"
                               placeholder="Insert Industry">
                    </div>

                    <button type="submit" class="btn btn-default center-block" ng-click="ctrl.saveTheIndustry()">Save
                        Industry
                    </button>
                </form>
            </div>
        </div>

    </div>
</div>

